@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
    --fon-14:1.4em;
    --font-20: 2em;

    --color-var: #0D0D0D;
    --blanco: #ffffff;
    --blue-background:#1A202C;
    --m-blue-background: #2D3748;

    --border-color:#202837;
    --background-heder-windows:#202837;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}


@media (max-width:767px) {
    header {
        width: 100%;
        height: 44px;
        background-color: var(--color-var);
        
    }
    header .section-burguer-menu {
        height: 44px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .section-burguer-menu .circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: var(--blanco);
        display: inline-block;
        margin-right: 5px;
    }
    header .section-burguer-menu a {
        color: var(--blanco);
        text-decoration: none;
        font-weight: bold;
        font-size: var(--fon-14);
        letter-spacing: 0px;
    }
    .hamburguer {
        display: block;
        width: 35px;
        height: 35px;
        margin-left: 20px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburguer .bar, .hamburguer::after,.hamburguer::before {
        width: 80%;
        height: 3px;
        content: '';
        display: block;
        background-color: var(--blanco);
        margin: 6px 0px;
        transition: 0.4s;
        border-radius: 4px;
    }
    .hamburguer.is-active::before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .hamburguer.is-active .bar {
        opacity: 0;
    }
    .hamburguer.is-active::after {
        transform: rotate(45deg) translate(-7px, -3.5px);
    }
    header .section-burguer-menu .search {
        width: 30px;
        height: 30px;
        display: inline-block;
    }
    header .section-burguer-menu .search {
        width: 28px;
        height: 28px;;
        background-image: url("../icon/search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 15px;
    }
    .type-search {
        display: none;
    }
    .profile-right {
        display: none;
    }
    .asider-bar {
        background: #000000;
        width: 263px;
        height: 100vh;
        display: block;
        position: absolute;
        left: -263px;
        transition: 0.8s;

    }
    .asider-bar.is-active {
        left: 0px;
    }
    .asider-bar .section-logo {
        margin-top: 4px;
        height: 65px;
        width: 100%;
        border-bottom: 1px solid var(--blanco);
        background-image: url("../images/LogoMXmarket.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .asider-bar .section-profile {
        width: 100%;
        height: 210px;
        border-bottom: 1px solid var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .asider-bar .section-profile  img{
       width: 90px;
       height: 90px;
       border-radius: 50%;
       margin-bottom: 20px;
    }
    .asider-bar .section-profile .bar-name {
        color: var(--blanco);
        font-weight: bold;
        font-size: var(--fon-14);
        margin-bottom: 2 px;
    }
    .asider-bar .section-profile .bar-email {
        color: var(--blanco);
        font-weight: 400;
        font-size: var(--fon-14);
    }
    nav {
        width: 100%;
        font-size: var(--font-20);
    }
    nav ul{
        padding: 80px 20px 0;
    }
    nav ul li {
        list-style: none;
        padding-bottom: 20px;
        color: var(--blanco);
    }
    .asider-bar ul li a{
        list-style: none;
        text-decoration: none;
        color: var(--blanco);
    }
    nav .circle-white{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: var(--blanco);
    }
    nav .circle-red{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background:#F56565;
    }
    nav .circle-yellow{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #ECC94B;
    }
    nav .circle-green{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #48BB78;
    }
    nav .circle-cedetblue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #38B2AC;
    }
    nav .circle-blue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #4299E1;
    }
    main {
        width: 100%;
        height: 100vh;
        background: var(--blue-background);
    }
}


@media screen and (min-width: 768px) and (max-width:1023px) {
  
    header {
        width: 100%;
        height: 70px;
        background-color: var(--color-var);
    }
    header .section-burguer-menu {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .section-burguer-menu .circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: var(--blanco);
        display: inline-block;
        margin-right: 5px;
    }
    header .section-burguer-menu .title {
        color: var(--blanco);
        text-decoration: none;
        font-weight: bold;
        font-size: var(--fon-14);
        position: absolute;
        letter-spacing: 0px;
        margin-top: 130px;
        margin-left: 12px;
    }
    .input-search {
        background: var(--m-blue-background) 0% 0% no-repeat padding-box;
        width: 460px;
        max-width: 350px;
        height: 40px;
        border: 1px solid var(--border-color);
        border-radius: 25px;
        display: flex;
        align-items: center;
    }
    header .section-burguer-menu .search {
        width: 10px;
        height: 30px;
        display: inline-block;
    }
    header .section-burguer-menu .search {
        width: 28px;
        height: 28px;;
        background-image: url("../icon/search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 15px;
    }
    .hamburguer {
        display: block;
        width: 35px;
        height: 35px;
        margin-left: 20px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburguer .bar, .hamburguer::after,.hamburguer::before {
        width: 80%;
        height: 3px;
        content: '';
        display: block;
        background-color: var(--blanco);
        margin: 6px 0px;
        transition: 0.8s;
        border-radius: 4px;
    }
    .hamburguer.is-active::before {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .hamburguer.is-active .bar {
        opacity: 0;
    }
    .hamburguer.is-active::after {
        transform: rotate(45deg) translate(-7px, -3.5px);
    }
    .input-search input {
        width: 80%;
        height: 100%;
        border: none;
        outline: none;
        margin-left: -12px;
        height: 60%;
        background-color: var(--m-blue-background);

        opacity: 5;
        color: #697182;
    }
    .input-search .search {
        margin-left: 15px;
        opacity: 1;
    }
    .profile-right  {
        width: 350px;
        height: 39px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 20%;  
    }
    .profile-right .icon-setting {
        width: 23px;
        height: 23px;
        background-image: url("../icon/icons8-ajustes.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-right .icon-bell {
        width: 28px;
        height: 28px;
        background-image: url("../icon/211694_bell_icon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-right .icon-bell .notification-bell {
        position: absolute;
        width: 17px;
        height: 17px;
        background: #F56565;
        border-radius:5px ;
        text-align: center;
        color: var(--blanco);
        font-weight: bold;
        margin-top: -5px;
        margin-left: 12px;
    }
    .vl {
        border-left: 1px solid var(--blanco);
        height: 45px;
    }
    .profile-section {
        width: 180px;
        height: 39px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .profile-section .user-name {
        text-decoration: none;
        color: var(--blanco);
        font-size: 1.3rem;
        font-weight: 600;
        width: 130px;
    }
    .profile-section .user-name .tab {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-top: 7px;
        margin-left: 6px;
        margin-right: 11px;
        background-image: url("../icon/down-arrow.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-section .user-image img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .asider-bar {
        background: #000000;
        width: 263px;
        height: 100vh;
        display: block;
        position: absolute;
        left: -263px;
        transition: 0.4s;
    }
    .asider-bar.is-active {
        left: 0px;
    }
    .asider-bar .section-logo {
        margin-top: 4px;
        height: 65px;
        width: 100%;
        border-bottom: 1px solid var(--blanco);
        background-image: url("../images/LogoMXmarket.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .asider-bar .section-profile {
        width: 100%;
        height: 210px;
        border-bottom: 1px solid var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .asider-bar .section-profile  img{
       width: 90px;
       height: 90px;
       border-radius: 50%;
       margin-bottom: 20px;
    }
    .asider-bar .section-profile .bar-name {
        color: var(--blanco);
        font-weight: bold;
        font-size: var(--fon-14);
        margin-bottom: 2 px;
    }
    .asider-bar .section-profile .bar-email {
        color: var(--blanco);
        font-weight: 400;
        font-size: var(--fon-14);
    }
    nav {
        width: 100%;
        font-size: var(--font-20);
    }
    nav ul{
        padding: 100px 20px 0;
    }
    nav ul li {
        list-style: none;
        padding-bottom: 20px;
        color: var(--blanco);
    }
    .asider-bar ul li a{
        list-style: none;
        text-decoration: none;
        color: var(--blanco);
    }
    nav .circle-white{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: var(--blanco);
    }
    nav .circle-red{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background:#F56565;
    }
    nav .circle-yellow{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #ECC94B;
    }
    nav .circle-green{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #48BB78;
    }
    nav .circle-cedetblue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #38B2AC;
    }
    nav .circle-blue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #4299E1;
    }
    main {
        width: 100%;
        height: 100vh;
        background: var(--blue-background);
    }
}


/*---------- WORKSPACE -----------*/
@media (min-width: 1024px) {

    body {
        display: grid;
        grid-template-rows: 70px 1fr;
        grid-template-columns: 236px;
    }
    header {
        width: 100%;
        height: 70px;
        grid-column: 2 / 6 ;
        grid-row: 1 / 2;
    }
    .asiderbar{
        width: 236px;
        height: 100vh;
        grid-column: 1 / 2 ;
        grid-row: 1 / 2;
        background-color: #F56565;
    }
    main {
        grid-column: 2 / 6 ;
        grid-row: 2 / 2;
    }
    header {
        width: 100%;
        height: 70px;
        background-color: var(--color-var);
    }
    header .section-burguer-menu {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .section-burguer-menu .circle {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        background: var(--blanco);
        display: inline-block;
        margin-right: 5px;
    }
    header .section-burguer-menu .title {
        color: var(--blanco);
        text-decoration: none;
        font-weight: bold;
        font-size: var(--fon-14);
        position: absolute;
        letter-spacing: 0px;
        margin-top: 130px;
        margin-left: 12px;;
    }
    .hamburguer {
        display: block;
        width: 35px;
        height: 35px;
        margin-left: 20px;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburguer .bar, .hamburguer::after,.hamburguer::before {
        width: 80%;
        height: 3px;
        content: '';
        display: block;
        background-color: var(--blanco);
        margin: 6px 0px;
        transition: 0.4s;
        border-radius: 4px;
    }
    .input-search {
        background: var(--m-blue-background) 0% 0% no-repeat padding-box;
        width: 366px;
        height: 40px;
        border: 1px solid var(--border-color);
        border-radius: 25px;
        display: flex;
        align-items: center;
        
    }
    .input-search input {
        width: 90%;
        height: 90%;;
        border: none;
        outline: none;
        background-color: var(--m-blue-background);
        color: #697182;
        opacity: 5;
    }
    .input-search .search {
        margin-left: 15px;
        opacity: 1;
    }
    .profile-right  {
        width: 350px;
        height: 39px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 25%;
        
    }
    .profile-right .icon-setting {
        width: 23px;
        height: 23px;
        background-image: url("../icon/icons8-ajustes.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-right .icon-bell {
        width: 28px;
        height: 28px;
        background-image: url("../icon/211694_bell_icon.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-right .icon-bell .notification-bell {
        position: absolute;
        width: 17px;
        height: 17px;
        background: #F56565;
        border-radius:5px ;
        text-align: center;
        color: var(--blanco);
        font-weight: bold;
        margin-top: -5px;
        margin-left: 12px;
    }
    .vl {
        border-left: 1px solid var(--blanco);
        height: 45px;
    }
    .profile-section {
        width: 180px;
        height: 39px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .profile-section .user-name {
        text-decoration: none;
        color: var(--blanco);
        font-size: 1.3rem;
        font-weight: 600;
        width: 130px;
    }
    .profile-section .user-name .tab {
        width: 20px;
        height: 20px;
        position: absolute;
        margin-top: 7px;
        margin-left: 6px;
        margin-right: 11px;
        background-image: url("../icon/down-arrow.svg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .profile-section .user-image img {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .asider-bar {
        background: #000000;
        width: 236px;
        height: 108.5vh;
    }
    .asider-bar .section-logo {
        margin-top: 4px;
        height: 65px;
        width: 100%;
        border-bottom: 1px solid var(--blanco);
        background-image: url("../images/LogoMXmarket.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .asider-bar .section-profile {
        width: 100%;
        height: 210px;
        border-bottom: 1px solid var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .asider-bar .section-profile  img{
       width: 90px;
       height: 90px;
       border-radius: 50%;
       margin-bottom: 20px;
    }
    .asider-bar .section-profile .bar-name {
        color: var(--blanco);
        font-weight: bold;
        font-size: var(--fon-14);
        margin-bottom: 2 px;
    }
    .asider-bar .section-profile .bar-email {
        color: var(--blanco);
        font-weight: 400;
        font-size: var(--fon-14);
    }
    nav {
        width: 100%;
        font-size: var(--font-20);
    }
    nav ul{
        padding: 200px 20px 0;
    }
    nav ul li {
        list-style: none;
        padding-bottom: 20px;
        color: var(--blanco);
        
    }
    .asider-bar ul li a{
        list-style: none;
        text-decoration: none;
        color: var(--blanco);
    }
    nav .circle-white{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: var(--blanco);
    }
    nav .circle-red{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background:#F56565;
    }
    nav .circle-yellow{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #ECC94B;
    }
    nav .circle-green{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #48BB78;
    }
    nav .circle-cedetblue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #38B2AC;
    }
    nav .circle-blue{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background: #4299E1;
    }
    main {
        width: 100%;
        height: 100vh; 
        background: var(--blue-background);
        padding: 50px;
    }
    main .card-analysis {
        width: 100%;
        height: 100%;
        background-color: var(--m-blue-background);
        border-radius: 8px;
    }
    main .card-analysis .title {
        background-color: var(--background-heder-windows);
        width: 100%;
        height: 40px;
        color: var(--blanco);
        padding: 10px 10px 10px;
        border-top: 8px;
    }
    .card {
        margin:10px;
        background-color: var(--blue-background);
    }
    .card.is-active {
        margin:10px;
        height: 107px;
        background-color: var(--blue-background);
    }
    .card .header-card {
        margin: 4px 4px;
        background-color: var(--color-var);
        color: var(--blanco);
        display: flex;
        justify-content: space-between;
        height: 29px;
    }
    .card .header-card .left{
        width: 300px;
        display: flex;
        justify-content: space-evenly;
        align-items: center ;
    }
    .card .header-card .left .ln{
        border-left: 1px solid #697182;
        height:70%;
        opacity: 4;
    }
    .header-card .left h3{
        width: 100px; 
    }
    .show-graph{
        width: 25px;
        height: 25px;
        border: 1px solid var(--blanco);
        
    }
    .show-graph .cls-1{
        fill: #ffffff;
    }
    .show-table {
        width: 25px;
        height: 25px;
        border: 1px solid var(--blanco);
    }
    .show-table .st0 { 
        fill: #ffffff;
    }
    .card .header-card .right{
        display: flex;
        align-items: center ;
    }
    
    .right .drag-drop {
        width: 25px;
        height: 25px;
        border: none;
    }
    .right .drag-drop .dr-1 {
        fill: #ffffff;
    }
    .right .collapse {
        width: 25px;
        height: 25px;
        border: none;
        margin-left: 5px;
        text-align: center;
        background-color: var(--color-var);
        cursor: pointer;
    }
    .right .collapse .mv-1 {
        fill: #ffffff;
        transform: rotate(85deg) translate(-1px, -10px);
    } 
    .right .collapse .mv-1.is-active {
        fill: #ffffff;
        transform: rotate(0deg) translate(1px, 0px);
    }
}